/* ###############################
    CONTACT (formulaire de contact)
############################### */
.contact_form-appear{
    opacity:0;
  }

.contact_form-enter{
    opacity:0;
}
  
.contact_form-enter-done{
    opacity:1;
    transition: all 1s ease-in-out;
}

.contact_form-exit{
    opacity:1;
}

.contact_form-exit-active{
    opacity:0;
    transition: all 1s ease-in-out;
}


/* ###############################
    MENU (contact)
############################### */
.devis-appear{
    opacity : 0;
    transform : translateX(40vw) scale(0);
  }

.devis-enter{
    opacity : 0;
    transform : translateX(40vw) scale(0);
}
  
.devis-enter-done{
    opacity : 1;
    transform : translateX(0) scale(1);
    transition : all 1s ease-in-out; 
}

.devis-exit{
    opacity:1;
    transform : translateX(0) scale(1);
}

.devis-exit-active{
    opacity : 0;
    transform : translateX(40vw) scale(0);
    transition: all 1s;
}

/* ###############################
    MENU (portefolio)
############################### */
.portefolio-appear{
    opacity : 0;
    transform : translateX(40vw) scale(0);
  }

.portefolio-enter{
    opacity : 0;
    transform : translateX(40vw) scale(0);
}
  
.portefolio-enter-done{
    opacity : 1;
    transform : translateX(0) scale(1);
    transition : all 1.5s ease-in-out; 
}

.portefolio-exit{
    opacity:1;
    transform : translateX(0) scale(1);
}

.portefolio-exit-active{
    opacity : 0;
    transform : translateX(40vw) scale(0);
    transition: all 1.5s;
}


/* ###############################
    CONTACT raccourci
############################### */
.Contact_Racc-appear{
    opacity:0;
  }

.Contact_Racc-enter{
    opacity:0;
}
  
.Contact_Racc-enter-done{
    opacity:1;
    transition: all 1s 1s ease-in-out
}

.Contact_Racc-exit{
    opacity:1;
}

.Contact_Racc-exit-active{
    opacity:0;
    transition: all 2s ease-in-out;
}


/* ###############################
    ABOUT ME
############################### */
.aboutMe-appear{
    opacity:0;
  }

.aboutMe-enter{
    opacity:0;
}
  
.aboutMe-enter-done{
    opacity:1;
    transition: all 2s ease-in-out
}

.aboutMe-exit{
    opacity:1;
}

.aboutMe-exit-active{
    opacity:0;
    transition: all 1s 1s ease-in-out;
}


/* ###############################
    PORTEFOLIO 
############################### */
.portefolioContainer-appear{
    opacity:0;
  }

.portefolioContainer-enter{
    opacity:0;
}
  
.portefolioContainer-enter-done{
    opacity:1;
    transition: all 2s ease-in-out;
}

.portefolioContainer-exit{
    opacity:1;
}

.portefolioContainer-exit-active{
    opacity:0;
    transition: all 2s ease-in-out;
}